body {
    background-color: rgb(220, 139, 228);
    font-family: 'Noto Serif', serif;
}

div {
    margin: auto;
}

fieldset {
    margin: auto;
    border: 4px solid;
    width: 20%;
}

fieldset>input {
float: right;
}