img {
    margin-left: 20%;
}

body {
    background-color: cornflowerblue;
    font-family: 'Noto Serif', serif;
}

main {
    margin-left: 25%;
    font-weight: bold;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
    color: brown;
    margin-left: 25%;
    color: rgb(201, 30, 144);
}

.salesTableLoc {
    margin: 0 50% 30% 0;
}